<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grgr.mapper.ProductCartMapper">

	<!-- 장바구니에 추가 -->
	<insert id="insertCart">
		INSERT INTO PRODUCT_CART(PRODUCT_CART_NO, UNO,
		PRODUCT_ID, PRODUCT_COUNT)
		VALUES(PRODUCT_CART_SEQ.NEXTVAL, #{uno},
		#{productId}, #{productCount})
	</insert>

	<!-- 장바구니 삭제 -->
	<delete id="deleteCart">
		DELETE FROM PRODUCT_CART WHERE PRODUCT_CART_NO =
		#{productCartNo}
	</delete>

	<!-- 수량 변경 -->
	<update id="updateCount">
		UPDATE PRODUCT_CART SET PRODUCT_COUNT =
		#{productCount} WHERE
		PRODUCT_CART_NO = #{productCartNo}
	</update>

	<!-- 장바구니 목록 -->
	<select id="selectCartList">
		SELECT C.PRODUCT_CART_NO, C.UNO, C.PRODUCT_ID,
		C.PRODUCT_COUNT, P.PRODUCT_TITLE, P.PRODUCT_PRICE
		FROM PRODUCT_CART C
		LEFT OUTER JOIN PRODUCT_BOARD P ON C.PRODUCT_ID = P.PRODUCT_ID
		LEFT OUTER JOIN USERINFO U ON C.UNO = U.UNO
		WHERE U.UNO =#{uno}
	</select>

	<!-- 장바구니 확인 -->
	<select id="selectCart">
		SELECT * FROM PRODUCT_CART WHERE UNO = #{uno} AND
		PRODUCT_ID = #{productId}
	</select>

</mapper>